html,
body,
#content{
    width: 100%;
    height: 99.9%;
    margin: 0;
    padding: 0;
}
.nojs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    background: orange;
    color: white;
    font-size: 125%;
    font-family: verdana, sans-serif, 'Times New Roman';
    padding: 1% 0;
}