body{
    min-height: 500px;
    font-family: Verdana, sans-serif;
    background: url("./../images/bg.jpg") fixed no-repeat 50% 50%;
    background-size: cover;
}
h1{
    text-align: center;
}
#logo{
    font-size: 30px;
    width: 98%;
    text-align: center;
    font-weight: bold;
    padding: 1%;
    color: #ffffff;
    text-shadow: 0 0 3px #000000;
}

nav{
    font-size: 35px;
    text-align: center;
    width: 100%;
    float: right;
}
ul{
    list-style-type: none;
    padding: 0;
    line-height: 60px;
    margin: 2%;
}
ul li{
    display: inline;
    margin: auto 2%;
    padding: 3px 15px;
}
a{
    text-decoration: none;
}
ul li a{
    color: #ffffff;
    text-shadow: 0 0 3px #000000;
}
ul li a:hover,
ul li a:focus,
ul li a:active{
    text-decoration: underline;
}
#main-block{
    float: left;
    width: 94%;
    font-weight: bold;
    font-size: 20px;
    min-height: 100%;
    padding: 0 3%;
    margin: 0;
    color: #cccccc;
    text-shadow: 0 0 3px #000000;
}
#main-block p{
    text-indent: 25px;
}
#photos{
    float: left;
    width: 30%;
    margin: 15px;
}
