html{
  height: 100%;
  max-height: 100%;
}
body{
  font-family: verdana, sans-serif;
  background: url("./../images/bg.jpg") fixed no-repeat 0% 0%;
  background-size: cover;
}
#header{
  color: #fff;
  width: 96%;
  max-width: 96%;
  font-size: 30px;
  padding: 1% 2%;
  border-bottom: 2px solid white;
  overflow: hidden;
}
#contact{
  position: absolute;
  left: 0;
  width: 15%;
  font-size: 15px;
  color: #fff;
  margin: 1% 0 0 0;
  padding: 1% 2%;
}
#main-block{
  position: absolute;
  right: 0;
  width: 75%;
  font-size: 15px;
  color: #e5e5e5;
  margin: 1% 0 0 0;
  padding: 1% 2%;
}