@keyframes anim{
  from {opacity: 0;}
  to {opacity: 0.7;}
}
@-moz-keyframes anim{
  from {opacity: 0;}
  to {opacity: 0.7;}
}
@-webkit-keyframes anim{
  from {opacity: 0;}
  to {opacity: 0.7;}
}
@-o-keyframes anim{
  from {opacity: 0;}
  to {opacity: 0.7;}
}
.appear-anim{
  animation: anim 3s;
  -webkit-animation: anim 3s;
  -moz-animation: anim 3s;
  -o-animation: anim 3s;
}
body{
  min-height: 100%; 
  font-family: verdana, sans-serif;
  background: url("./../images/bg.jpg") fixed no-repeat 50% 50%;
  background-size: cover;
}
#main-block{
  background: antiquewhite;
  float: left;
  width: 40%;
  font-size: 15px;
  opacity: 0.8;
  color: #333;
  min-height: 100%;
  padding: 0 3%;
  margin: 2% 2% 5% 5%;
  border-radius: 9px;
}
#logo{
  float: right;
  font-size: 30px;
  color: #1e1e1e;
  opacity: 0.7;
  margin: 17% 5%;
  width: 30%;
}
.company-name{
  font-weight: bold;
  color: #000;
}
